#left-menu-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 400px;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    transition: 0.5s;
}

#left-menu-interior {
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px 0 10px 10px;
    background-color: white;
    box-shadow:1px 9px 15px 5px rgba(0,0,0,0.64);
}

#menu-toggle {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    width: 20px;
    height: 50px;
    border-radius: 0 5px 5px 0;
    background-color: rgb(188, 188, 188);
    border: rgb(89, 89, 89);
    cursor: pointer;

}

#div-boutons {
    margin-right: 10px;
}

#input-recherche {
    margin: 10px 10px 5 10px;
    border-radius: 15px;
    height: 45px;
    background-color: rgba(227, 223, 223, 0.856);

}

.bouton-service {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 0 15px 15px 0;
    height: 50px;
    width: 100%;
    background-color: rgba(227, 223, 223, 0.856);
    margin-top: 5px;
}

.list-service {
    list-style: none;
}

.div-boutons {
    display: flex;
}
