#left-menu-container {
    position: fixed;
    left:0;
    top: 0;
    width: 400px;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;

    background-color: antiquewhite;
    padding: 10px;
}

#left-menu-interior {
    /* height: fit-content; */
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 5px 0 0 5px;
    background-color: blueviolet;
    padding:10px; 
}

#menu-toggle{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 20px;
    height: 50px;
    border-radius: 0 5px 5px 0;
    background-color: red;
    cursor: pointer;

}

.list-service{
    list-style: none;
}
.bouton-service{
    width:100%;
    border-radius:5px;
}
.option-service{
    margin:10px;
    height:50px;
}