#left-menu-container {
    position: fixed;
    left:0;
    top: 0;
    width: 400px;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    transition: 0.5s;
}

#left-menu-interior {
    display:flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 5px 0 0 5px;
    background-color: white;
}

#menu-toggle{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    
    width: 20px;
    height: 50px;
    border-radius: 0 5px 5px 0;
    background-color: gray;
    cursor: pointer;

}

#div-boutons{
    margin-right: 10px;
}

#input-recherche{
    border-radius:5px;
    width: 100%;
    height:50px;
    background-color:gray;
}


.bouton-service{
    border: none;
    border-radius: 0 5px 5px 0;   
    height:50px;
    width:100%;
    background-color:gray;
    margin-top:5px;
}

.list-service{
    list-style: none;
}
.div-boutons{
    display:flex;
}
#transport-commun{
    margin-top: auto;
    background-color:rgba(95, 29, 29, 0.926);
    
}
.checkbox2{
    margin:10px;
}