#right-menu-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 40%;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    transition: 0.5s;
}

#right-menu-interior {
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 0 10px 10px 10px;
    background-color: white;
    box-shadow: 1px 9px 15px 5px rgba(157, 204, 216, 0.64);
    background: rgb(239, 251, 253);
    background: linear-gradient(-40deg, rgba(239, 251, 253, 0.8) 3%, rgba(234, 248, 255, 0.7) 100%);
    backdrop-filter: blur(5px);
    border: solid white;
}

#menu-toggle-right {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    width: 20px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    background-color: white;
    border: rgb(255, 255, 255);
    cursor: pointer;

}

#transport-commun {
    border-radius: 10px 0 0 10px;
    margin: 10px 0 5px 20px;
    display: flex;
}

.checkbox2 {
    outline: none;
    margin: 10px;
    accent-color: #9ac4ff;

}


.checkbox2 {
    border: none;
    margin: 10px;

}

#scroll-bar {
    margin-left: 20px;
}

#scroll-bar>input{
  width: 90%;
}
